{% extends 'base.html.twig' %}

{% block header %}
    <div class="header">
        <div class="header-left">
            <div class="menu-icon dw dw-menu"></div>



            <div class="card-box height-100-p widget-style3">
                <div class="d-flex flex-wrap">
                    <div class="widget-data">

                        <div class="weight-300 font-30 text-blue">Modifier Un Cv</div>
                    </div>
                    <div class="widget-icon">
                        <div class="icon" data-color="#00eccf" style="color: rgb(0, 236, 207);"><i class="icon-copy dw dw-file"></i></div>
                    </div>
                </div>
            </div>





        </div>
        <div class="header-right">
            <div class="dashboard-setting user-notification">
                <div class="dropdown">
                    <a class="dropdown-toggle no-arrow" href="javascript:;" data-toggle="right-sidebar">
                        <i class="dw dw-settings2"></i>
                    </a>
                </div>
            </div>



        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="main-container ">
        <div class="col-md-6 col-sm-12 mb-30">
            <div class="pd-20 card-box height-100-p">
                <form enctype="multipart/form-data" id="form" role="form" action="{{ path('updateCv',{'id':cv.id}) }}" method="post">`
                    <div class="panel-body">

                        <table >

                            <tr>
                                <td>
                                    <label   class="col-sm-12 col-md-2 col-form-label">Nom:</label>
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="nom" name="nom" value="{{ cv.nom }}">
                                    <label id="nom_war" hidden class="font-12 " data-color="red"> ⭕️Attention: Nom Invalide!!</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="col-sm-12 col-md-2 col-form-label" >Prenom:</label>
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="prenom" name="prenom" value="{{ cv.prenom }}">
                                    <label id="prenom_war" hidden class="font-12 " data-color="red"> ⭕️Attention: Prenom Invalide!!</label>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <label class="col-sm-12 col-md-2 col-form-label" >Votre Cv:</label>
                                </td>
                                <td>
                                    <div class="custom-file">

                                        <input onchange="fichier(this)" id="cvdoc" name="cvdoc" type="file" class="custom-file-input"  >
                                        <label id="cvdoc_label" class="custom-file-label">{{ cv.cvdoc }}</label>

                                    </div>
                                    <label id="cvdoc_war" hidden class="font-12 " data-color="red"> ⭕️Attention: Fichier Invalide!!</label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center">
                                    <button type="button" onclick="verif()"  class="btn btn-outline-primary">Modifier</button>
                                </td>
                            </tr>

                        </table>


                    </div>

                </form>
            </div>

        </div>
    </div>
    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript" src="{{ asset('vendors/scripts/MyValidator.js') }}"></script>
    {% endblock %}
{% endblock %}