{% extends'khaledbase.html.twig' %}
{% block loading %} {% endblock %}
{% block header %} <h2>Inscription d'un candidat</h2> {% endblock %}
{% block footer %} {% endblock %}
{% block lwost %}



    {{ form_start(form) }}

    {{ form_errors(form) }}

    {{ form_label(form.email) }}
    {{ form_widget(form.email,{ 'attr':{'class':"form-control"}}) }}
    {{ form_errors(form.email) }}

    {{ form_label(form.password) }}
    {{ form_widget(form.password,{ 'attr':{ 'class':"form-control"}}) }}
    {{ form_errors(form.password) }}


    {{ form_label(form.confirmPassword) }}
    {{ form_widget(form.confirmPassword ,{ 'attr':{'class':"form-control"}}) }}
    {{ form_errors(form.confirmPassword) }}

    {{ form_label(form.accountStatus) }}
    {{ form_widget(form.accountStatus,{ 'attr':{'class':"form-control"}}) }}
    {{ form_errors(form.accountStatus) }}

    {{ form_label(form.cinPersonne) }}
    {{ form_widget(form.cinPersonne,{ 'attr':{'class':"form-control"}}) }}
    {{ form_errors(form.cinPersonne) }}

    {{ form_label(form.nomPersonne) }}
    {{ form_widget(form.nomPersonne,{ 'attr':{'class':"form-control"}}) }}
    {{ form_errors(form.nomPersonne) }}

    {{ form_label(form.prenomPersonne) }}
    {{ form_widget(form.prenomPersonne,{ 'attr':{'class':"form-control"}}) }}
    {{ form_errors(form.prenomPersonne) }}

    {{ form_label(form.sexePersonne) }}
    {{ form_widget(form.sexePersonne,{ 'attr':{'class':"form-control"}}) }}
    {{ form_errors(form.sexePersonne) }}

    {{ form_label(form.dateNaisPersonne) }}
    {{ form_widget(form.dateNaisPersonne,{ 'attr':{'class':"form-control"}}) }}
    {{ form_errors(form.dateNaisPersonne) }}

    {{ form_label(form.etatSocialePersonne) }}
    {{ form_widget(form.etatSocialePersonne,{ 'attr':{'class':"form-control"}}) }}
    {{ form_errors(form.etatSocialePersonne) }}

    {{ form_label(form.telephone) }}
    {{ form_widget(form.telephone,{ 'attr':{'class':"form-control"}}) }}
    {{ form_errors(form.telephone) }}

    {{ form_label(form.adresse) }}
    {{ form_widget(form.adresse,{ 'attr':{'class':"form-control"}}) }}
    {{ form_errors(form.adresse) }}



    {{ form_label(form.domainePersonne) }}
    {{ form_widget(form.domainePersonne,{ 'attr':{'class':"form-control"}}) }}
    {{ form_errors(form.domainePersonne) }}


    {{ form_row(form.Add,{ 'attr':{ 'class':"btn btn-primary"}}) }}





{% endblock %}