{% extends 'frontWissem.html.twig' %}

{% block body %}
    <div class="main main-raised">
        <div class="profile-content" align="center">
            <div class="container">



                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto">
                        <div class="profile-tabs">
                            <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">

                                <li class="nav-item">
                                    <a class="nav-link" href="#works" role="tab" data-toggle="tab">
                                        <i class="material-icons">palette</i> CV
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-content tab-space">

                    <div class="tab-pane text-center gallery active" id="works">
                        <style>
                            table {
                                width: 100%;
                                background:#9c27b0;
                                border: #a3adc1;
                                color:white;

                            }
                            th, td {
                                font-size: 30px;
                                height: 70px;
                            }

                        </style>
                        <table border="10px" align="center">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Prenom</th>
                                <th scope="col">Nom De Fichier</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for cv in listCv %}
                                <tr>
                                    <td>
                                        {{ cv.id}}
                                    </td>
                                    <td>
                                        {{ cv.nom }}
                                    </td>
                                    <td>
                                        {{ cv.prenom }}
                                    </td>
                                    <td>
                                        <a  style="color: white" href={{ path('openfile',{'name':cv.cvdoc}) }} >{{ cv.cvdoc }} </a>
                                        <i class="material-icons">save</i>
                                    </td>



                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
        </div>
    </div>



{% endblock%}
