{% extends 'HoussemFront.html.twig' %}
{% block body %}
    <script src="{{ asset('wiki.js') }}"></script>
    <section id="portfolio" class="portfolio">
        <div class="container">


            <div class="row portfolio-container">
                {% for Entretien in classe %}
                        {% if (Entretien.idParticipant==userid) %}
                            <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
                                <div class="portfolio-wrap">
                                    <figure>
                                        <img src="publicHoussem/entretien.jpg" class="img-fluid" alt="">
                                        {#                            <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="link-preview portfolio-lightbox" title="Preview"><i class="bx bx-plus"></i></a>#}
                                        {#                            <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bx bx-link"></i></a>#}
                                    </figure>

                                    <div class="portfolio-info">
                                        <h4><a href="portfolio-details.html">{{ Entretien.Libelle }}</a></h4>
                                        <p>{{ Entretien.Description }}</p>
                                        <p>{{ Entretien.DateEntretien }}</p>
                                    </div>
                                    {#                        <div class="text-center">#}
                                    {#                            <div class="d-flex justify-content-center">#}
                                    {#                                <h3 style="color : gray">Wikipedia Search for the term : {{Evaluation.Libelle}}</h3>#}
                                    {#                                <input id="key" name="search" value="{{Evaluation.Libelle}}" hidden>#}


                                    {#                                <div class="articles"></div>#}

                                    {#                            </div>#}
                                    {#                        </div>#}
                                </div>
                            </div>
                        {% endif %}
                {% endfor %}



            </div>

        </div>
    </section><!-- End Portfolio Section -->
{% endblock %}